#Contact{
  width: 100%;
  
    
}

// .contactform{
//     width: 100%;
// }

.contacticons{
    padding-left: 10%;
    padding-top: 8%;
    
   
    .ctimg-responsive{
        border-radius: 25%;
        width: 100%;
        

  }
}

@media (min-width: 320px) and (max-width: 768px) {
      .contacticons{
          width: 100%;
        // display: flex;
        //     flex-wrap: wrap;
        //     align-content: flex-start;
            padding-left: 50%;
           
            br {
                display: none;
            }

                    
        }
        .ctimg-responsive{
           margin-top: 15%;
           min-width: fit-content;
        }

       #Contact{
         padding-right: 4%;
         padding-top: 9%;
         padding-left: 5%;
       }
     }
    
    