#Contact{
  width: 96%;  
}
.formheading{
  text-align: left;
  font-weight: bold;
}
.form-button{
	margin-top: 15px;
	display: flex;
  justify-content: center;
  
}

.contacticons{
    padding-top: 7%;

    .ctimg-responsive{
        border-radius: 25%;
        width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
      .contacticons{
          width: 100%;
            .ctimg-responsive{
              margin-top: 1%;
           }   
          
        }
      
       #Contact{
         padding-top: 7%;
       }
     }

     @media (min-width: 768px) and (max-width: 1024px) {
      /* For portrait layouts only */
      #Contact{
        padding-top: 7%;
			}
			
      .contacticons{
        .ctimg-responsive{
          width: 100%;
        }
      }
			}

.icon-wrapper{
	margin: 0 5px;
}
			
.icon-container{
	display: flex;
	justify-content: center;
}

