// .Profile{
//     align-self: stretch;
//     padding-top: 10%;
//     width: 80%;
//     display: flex;

//     .p-details{
//         float: left;
//         width: 70%;
//         padding-left: 15%;
//         text-align: start;
//         font-size: 1.5vw;

//         .heading{
//             font-size: 3vw;
//         }
       
//     }

//     .p-image{
//         float: right;
//         width: 30%;
//         padding-right: 5%;
//         height: auto;
        
//     }
//   }

.Profile{
    align-self: stretch;
    padding-top: 15%;
    padding-left: 25%;
    border-radius: 5px;
    width: 75%;
  }