// .Projects{
//     .col-lg-4 {
//       margin: 10px;
//     }
    
//   }

  
  .mprojects{
	 text-align: center;
   margin-top: 35px;
   
   .mproject-txt{
    color: $whiteColor;
		text-decoration: none;
	}
	 	&:hover{
			color: $whiteColor;
			text-decoration: none;
		}
  }
  
	
	.project-hovereffect{
		position: relative;
		margin-bottom: 25px; 
	}

  @media screen and (max-width: 768px){
    .Projects{
      padding-top: 8%; 
    }
    //  .proimg-responsive{
    //   height:auto;
  
    // }    
}

@media screen and (min-width: 768px){
	.projects-wrapper{
		display: flex;
		flex-wrap: wrap;
	}

	.project-hovereffect{
		width: 48%;

		&:nth-child(1), &:nth-child(3){
			margin-right: 25px;
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* For portrait layouts only */
  // .Projects{
       
   
  // }

  // .proimg-responsive{
  //   width: 100%;
  // }
}
	
@media screen and (min-width: 1200px){
	.projects-button{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.mprojects{
		margin-top: 0px;
	}
}

.project-link{
	display: flex;
	height: 100%;
}