.Profile{
    padding-left: 15%;
    padding-right: 5%;
    border-radius: 5px;
   
  }
  .profilecontent{
    max-width:95%;

    .overflow-hidden{
      border: none;
    }
    
    .no-gutters{
      background-color:$primaryColor;
    }
    .card-text{
      text-align: left;
      font-size:1.2rem;
      
    }
  }

  @media screen and (max-width: 768px){
      .Profile{
        padding-top: 8%;
        
      }
        
}
