.Profile{
    //align-self: stretch;
    padding-top: 9%;
    padding-left: 7%;
    padding-right: 5%;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
       

    .p-details{
        float: left;
        width: 100%;
        padding-left: 10%;
        text-align: start;
        font-size:1.5rem;

        // .heading{
        //     font-size: 4vw;
        // }
       
    }

    .p-image{
        float: right;
        //width: 100%;
        padding-right: 1%;
        
        
    }
  }

  @media screen and (max-width: 768px){
      .Profile{
        padding-top: 15%;
        
      }
        
}
