#skillspage {
  width: 95%;
  padding-left: 10%;
  
}

.skillscontainer{
 
  color: white;
}
#front-end{
  width: 100%;
  
}

#back-end{
  width: 100%;
}

#cv{ 
  width: 100%;
  padding-top: 125%;
  padding-left: 35%;
  align-items: right;

 img{
     width: 75%;
     
  :hover {
      cursor: text;
     }  
   
}

  
}
  #html5 {
    animation-timing-function: linear;
    width: 60px;
    font-weight: bold;
    position: relative;
    animation: frontend 5s infinite;
  }

  #css {
    animation-timing-function: ease;
    width: 60px;
    font-weight: bold;
    position: relative;
    animation: frontend 4s infinite;
  }
  #javascript {
    animation-timing-function: ease-in;
    width: 60px;
    font-weight: bold;
    position: relative;
    animation: frontend 6s infinite;
  }

  #sass {
    animation-timing-function: ease-out;
    width: 60px;
    //height: 50px;
    font-weight: bold;
    position: relative;
    animation: frontend 5s infinite;
  }
  
  #vuejs{
    animation-timing-function: ease-in;
    width: 60px;
    //height: 50px;
    font-weight: bold;
    position: relative;
    animation: frontend 4s infinite;
  }

  #nuxt{
    animation-timing-function: ease-out;
    width: 60px;
    //height: 50px;
    font-weight: bold;
    position: relative;
    animation: frontend 9s infinite;
  }
  #wordpress{
    animation-timing-function: linear;
    width: 60px;
    //height: 50px;
    font-weight: bold;
    position: relative;
    animation: frontend 7s infinite;
  }


@keyframes frontend {
  from {
    left: 0px;
  }
  to {
    left: 650px;
  }
}



#c {
  animation-timing-function: linear;
  width: 60px;
  //height: 50px;
  font-weight: bold;
  position: relative;
  animation: backend 11s infinite;
}
#asp {
  animation-timing-function: linear;
  width: 60px;
  //height: 50px;
  font-weight: bold;
  position: relative;
  animation: backend 9s infinite;
}
#git {
  animation-timing-function: linear;
  width: 60px;
  //height: 50px;
  font-weight: bold;
  position: relative;
  animation: backend 7s infinite;
}
#umbraco {
  animation-timing-function: linear;
  width: 60px;
  //height: 50px;
  font-weight: bold;
  position: relative;
  animation: backend 5s infinite;
}
#xamarin {
  animation-timing-function: linear;
  width: 60px;
  //height: 50px;
  font-weight: bold;
  position: relative;
  animation: backend 3s infinite;
}

#sql {
  animation-timing-function: ease-in-out;
  width: 60px;
  //height: 50px;
  font-weight: bold;
  position: relative;
  animation: backend 11s infinite;
}

#strapi {
  animation-timing-function: ease-in-out;
  width: 60px;
  //height: 50px;
  font-weight: bold;
  position: relative;
  animation: backend 5s infinite;
}

@keyframes backend {
  from {
    left: 0px;
  }
  to {
    left: 450px;
  }
}

@media screen and (max-width: 768px){
  #skillspage{
    padding-top: 8%;
    width: 80%;
display: flex;
flex-wrap: wrap;
align-content: flex-start;
    
  }

  #cv{
    margin-left: 60%;
  }

  @keyframes frontend {
    from {
      left: 0px;
    }
    to {
      left: 50px;
    }
  }

  @keyframes backend {
    from {
      left: 0px;
    }
    to {
      left: 50px;
    }
  }
    
}