#skillspage {
  width: 95%;
  padding-left: 10%;
  
}

.skillscontainer{
 
  color: white;
}

.skillsimg-responsive{
  width: 50px;
}
#front-end{
  width: 100%;
  :hover{
    animation-play-state:paused;
    cursor: pointer;
  }
   
}
.skills-img-f{
:hover{
  animation-play-state:paused;
}
}

#back-end{
  width: 100%;
   :hover{
    animation-play-state:paused;
    cursor: pointer;
}
}
#cv{ 
  width: 100%;
  padding-top: 125%;
  padding-left: 35%;
  align-items: right;

 img{
     width: 75%;
     
  :hover {
      cursor: text;
     }  
   
}

  
}
  #html5 {
    animation-timing-function: linear;
    width: 60px;
    font-weight: bold;
    position: relative;
    animation: frontend-htmls 35s infinite;

    
  }

  #css {
    animation-timing-function: ease-out;
    width: 60px;
    font-weight: bold;
    position: relative;
    animation: frontend-css 35s infinite;
  }
  #nuxt{
    animation-timing-function: ease-out;
    width: 60px;
    //height: 50px;
    font-weight: bold;
    position: relative;
    animation: frontend-nuxt 35s infinite;
  }
  #javascript {
    animation-timing-function: ease-in;
    width: 60px;
    font-weight: bold;
    position: relative;
    animation: frontend-javascript 35s infinite;
  }

  #sass {
    animation-timing-function: ease-out;
    width: 60px;
    //height: 50px;
    font-weight: bold;
    position: relative;
    animation: frontend-sass 35s infinite;
  }
  
  #vuejs{
    animation-timing-function: ease-in;
    width: 60px;
    //height: 50px;
    font-weight: bold;
    position: relative;
    animation: frontend-vuejs 35s infinite;
  }

    #wordpress{
    animation-timing-function: linear;
    width: 60px;
    //height: 50px;
    font-weight: bold;
    position: relative;
    animation: frontend-wordpress 35s infinite;
  }#bootstrapvue{
    animation-timing-function: ease-out;
    width: 60px;
    //height: 50px;
    font-weight: bold;
    position: relative;
    animation: frontend-bootstrapvue 35s infinite;
  }


// @keyframes frontend {
//   from {
//     left: 0px;
//   }
//   to {
//     left: 450px;
//   }
// }

@keyframes frontend-htmls  {
      from{
   left :200px;
      }
      to{
   left :450px;
      }
}
@keyframes frontend-css  {
  from{
left :120px;
  }
  to{
left :450px;
  }
}
@keyframes frontend-nuxt  {
  from{
left :50px;
  }
  to{
left :450px;
  }
}
@keyframes frontend-javascript  {
  from{
left :0px;
  }
  to{
left :450px;
  }
}
@keyframes frontend-sass  {
  from{
left :30px;
  }
  to{
left :450px;
  }
}
@keyframes frontend-vuejs  {
  from{
left :80px;
  }
  to{
left :450px;
  }
}
@keyframes frontend-wordpress  {
  from{
left :120px;
  }
  to{
left :450px;
  }
}
@keyframes frontend-bootstrapvue  {
  from{
left :200px;
  }
  to{
left :450px;
  }
}

#c {
  animation-timing-function: linear;
  width: 60px;
  //height: 50px;
  font-weight: bold;
  position: relative;
  animation: backend-c 35s infinite;
}
#asp {
  animation-timing-function: linear;
  width: 60px;
  font-weight: bold;
  position: relative;
  animation: backend-asp 35s infinite;
}
#git {
  animation-timing-function: linear;
  width: 60px;
  font-weight: bold;
  position: relative;
  animation: backend-git 35s infinite;
}
#umbraco {
  animation-timing-function: linear;
  width: 60px;
  font-weight: bold;
  position: relative;
  animation: backend-umbraco 35s infinite;
}
#xamarin {
  animation-timing-function: linear;
  width: 60px;
  font-weight: bold;
  position: relative;
  animation: backend-xamarin 35s infinite;
}

#sql {
  animation-timing-function: ease-in-out;
  width: 60px;
  font-weight: bold;
  position: relative;
  animation: backend-sql 35s infinite;
}

#strapi {
  animation-timing-function: ease-in-out;
  width: 60px;
  font-weight: bold;
  position: relative;
  animation: backend-strapi 35s infinite;
}

// @keyframes backend {
//   from {
//     left: 0px;
//   }
//   to {
//     left: 450px;
//   }
// }
@keyframes backend-c {
  from {
    left: 0px;
  }
  to {
    left: 450px;
  }
}
@keyframes backend-asp {
  from {
    left:50px;
  }
  to {
    left:450px;
  }
}
@keyframes backend-git {
  from {
    left: 80px;
  }
  to {
    left: 450px;
  }
}
@keyframes backend-umbraco {
  from {
    left: 120px;
  }
  to {
    left: 450px;
  }
}
@keyframes backend-xamarin {
  from {
    left: 160px;
  }
  to {
    left: 450px;
  }
}
@keyframes backend-sql {
  from {
    left: 200px;
  }
  to {
    left: 450px;
  }
}
@keyframes backend-strapi {
  from {
    left: 240px;
  }
  to {
    left: 450px;
  }
}

@media screen and (max-width: 768px){
  #skillspage{
    padding-top: 8%;
    width: 80%;
display: flex;
flex-wrap: wrap;
align-content: flex-start;
    
  }

  #cv{
    margin-left: 60%;
  }

  // @keyframes front-end {
  //   from {
  //     left: 0px;
  //   }
  //   to {
  //     left: 50px;
  //   }
  // }

  // @keyframes backend {
  //   from {
  //     left: 0px;
  //   }
  //   to {
  //     left: 50px;
  //   }
  // }
    
  @keyframes frontend-htmls  {
    from{
 left :0px;
    }
    to{
 left :20px;
    }
}
@keyframes frontend-css  {
  from{
left :0px;
  }
  to{
left :20px;
  }
}
@keyframes frontend-nuxt  {
  from{
left :0px;
  }
  to{
left :20px;
  }
}
@keyframes frontend-javascript  {
  from{
left :0px;
  }
  to{
left :20px;
  }
}
@keyframes frontend-sass  {
  from{
left :0px;
  }
  to{
left :20px;
  }
}
@keyframes frontend-vuejs  {
  from{
left :0px;
  }
  to{
left :20px;
  }
}
@keyframes frontend-wordpress  {
  from{
left :0px;
  }
  to{
left :20px;
  }
}
@keyframes frontend-bootstrapvue  {
  from{
left :0px;
  }
  to{
left :20px;
  }
}

@keyframes backend-c {
  from {
    left: 0px;
  }
  to {
    left: 20px;
  }
}
@keyframes backend-asp {
  from {
    left:0px;
  }
  to {
    left:20px;
  }
}
@keyframes backend-git {
  from {
    left: 0px;
  }
  to {
    left: 20px;
  }
}
@keyframes backend-umbraco {
  from {
    left: 0px;
  }
  to {
    left: 0px;
  }
}
@keyframes backend-xamarin {
  from {
    left: 0px;
  }
  to {
    left: 20px;
  }
}
@keyframes backend-sql {
  from {
    left: 0px;
  }
  to {
    left: 20px;
  }
}
@keyframes backend-strapi {
  from {
    left: 0px;
  }
  to {
    left: 20px;
  }
}
}