body, html {
	margin: 0;
	padding: 0;
}
#maincontent{
	width: 100%;
}

#mainpage{
	width: 97%;
	float: left;

}

#sidebar{
width: 3%;
float: right;
}
.section {
	min-height: 800px;
	//position: relative;
	//margin: 0;
	
}

.section-slider {
	//height: 100vh;
	position: fixed;
	top: 300px;
	right: 2%;
	z-index: 1000;
	//text-decoration: none;
	
	//have to change this color
	:hover{
		color:yellowgreen;
		text-decoration: none;
	}
}

.slider-nav{
	display: flex;
	flex-direction: column;
}

.slider-link{
	color:$whiteColor;
	margin-bottom: 20px;

	// &:last-child{
	// 	margin-bottom: 0px;
	// }
}

#Profile, #Skills, #Projects, #Contact {
	background: $primaryColor;
	color:$whiteColor;

}

// #Profile {
// 	background: $primaryColor;
//     //color: #8d86c3;
// 	color:$whiteColor;
// }

// #Skills {
// 	background: $primaryColor;
// 	//color: #81d2d5;
// 	color:$whiteColor;
// }

// #Projects {
// 	background: $primaryColor;
// 	//color: rgb(248, 242, 242);
// }

// #Contact {
// 	background:$primaryColor;
// 	//color: #aeb9b9;
// 	color:$whiteColor;
// }

@media screen and (min-width: 1200px){
	.section {
		min-height: 1000px;
		position: relative;
		text-align: center;
		margin: 0;
	}
}
