body, html {
	margin: 0;
	padding: 0;
}
#maincontent{
	width: 100%;
}

#mainpage{
	width: 97%;
	float: left;

}

#sidebar{
width: 3%;
float: right;
}
.section {
	min-height: 768px;
	padding-top: 9%;
	
	
}

.section-slider {
	
	position: fixed;
	top: 300px;
	right: 2%;
	z-index: 1000;
	
	:hover{
		color:yellowgreen;
		text-decoration: none;

	
	}


	
}

.slider-nav{
	display: flex;
	flex-direction: column;
}

.slider-link{
	color:$whiteColor;
	margin-bottom: 20px;

	
	

	

	
}

#Profile, #Skills, #Projects, #Contact {
	background: $primaryColor;
	color:$whiteColor;

}


@media screen and (min-width: 1200px){
	.section {
		min-height: 1000px;
		position: relative;
		text-align: center;
		margin: 0;
	}

}

@media screen and (max-width: 768px){
	.section-slider {
	
		position: fixed;
		top: 150px;
		right: 3%;
		z-index: 1000;
		
		:hover{
			color:yellowgreen;
			text-decoration: none;
	
		
		}
	
	
		
	}
	  
	}
	@media (min-width: 768px) and (max-width: 1024px) {
		/* For portrait layouts only */
		.section {
			min-height: 1024px;
			padding-top: 9%;
			
			
		}
	  }
