body, html {
	margin: 0;
	padding: 0;
}
#maincontent{
	width: 100%;
}

#mainpage{
	width: 95%;
}

#sidebar{
width: 3%;
float: right;
}

.section {
	//Fixing height issue for the sections
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding-top: 58px;

	@media screen and (min-width: 768px){
		padding-top: 64px;
	}

	@media screen and (min-width: 992px){
		padding-top: 76px;
	}

	@media screen and (min-width: 1200px){
		padding-top: 84px;
	}
}

.section-slider {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 3%;
	display: flex;
	align-items: center;
	z-index: 1000;
	
	:hover{
		color:yellowgreen;
		text-decoration: none;
	}
}

.slider-nav{
	display: flex;
	flex-direction: column;
}

.slider-link{
	color:$whiteColor;
	margin-bottom: 20px;
}

#Profile, #Skills, #Projects, #Contact {
	background: $primaryColor;
	color:$whiteColor;

}


@media screen and (min-width: 1200px){
	.section {
		position: relative;
		text-align: center;
		margin: 0;
	}
}

@media screen and (max-width: 768px){
	.section-slider {
		
		:hover{
			color:yellowgreen;
			text-decoration: none;
		}
	}  
}
